body {
  margin: 0;
  padding: 0;
  background-image: url('../images/aaron-burden--3Dc-I-65ug-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
  border-bottom: 1px solid black;
  padding-left: 20px;
  padding-right: 30px;
}

.left-nav-bar-section{
  display: flex;
}

.main-nav-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hidden{
  display: none;
}

.login-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fa-solid{
  margin-right: 5px;
  margin-left: 30px;
}

.user-icon{
  display: flex;
}

.user-stats-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-trip-grid {
  width: 60%;
  display: flex;
  overflow-x: scroll;
  grid-gap: 20px;
  padding: 20px;
} 

.destination-card {
  background-color: white;
  color: black;
  height: 300px;
  width: 250px;
  border-radius: 15px;
  flex-shrink: 0;
}

.destination-card img {
  height: 40%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.pick-destination-card{
  background-color: white;
  color: black;
  height: 300px;
  width: 250px;
  border-radius: 15px;
  flex-shrink: 0;
}

.pick-destination-card img {
  height: 40%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.destinations-grid-wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.destinations-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns with equal width */
  gap: 10px;
  max-height: 80vh;
  overflow-y: scroll;
  
} 

.pick-destination-card > h3{
  font-size: 15px;
} 

button:hover {
cursor: pointer;
}

.pick-destination-card:hover {
  /* cursor: pointer;
  border: 1px solid gray; */
} 